*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #002A3A;
}
.first-content{
  width: 100%;
  height: 100vh;

}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}
.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}
.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}
.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #775e46;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s all;
  outline: 0;
}
.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
}
#btn--yp {
  box-sizing: content-box;
  position: fixed;
  z-index: 9;
  bottom: 1em;
  right: 1em;
  border: solid 1em transparent;
  width: 4.625em;
  height: 3.25em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2017/icon-yp.svg) 50%/cover content-box;
  font: 16px/1.25 trebuchet ms, sans-serif;
  text-indent: 200vw;
  text-shadow: none;
  filter: grayscale(1) drop-shadow(0 0 1px #e8e0e0);
  transition: 0.5s;
  white-space: nowrap;
}
#btn--yp:before {
  box-sizing: inherit;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin: 1em -0.5em;
  padding: 0.5em;
  width: 100%;
  border-radius: 5px;
  background: #e8e0e0;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-indent: 0vw;
  white-space: normal;
  animation: float 1s ease-in-out infinite alternate;
  content: attr(data-txt);
}
#btn--yp:hover, #btn--yp:focus {
  outline: none;
  filter: grayscale(0) drop-shadow(0 0 1px crimson);
}

@keyframes float {
  to {
    transform: translateY(0.75em);
  }
}
button span[aria-hidden=true]:after, button span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button {
  --hue: 76;
  --sat: 100%;
  --lum: 32%;
  display: block;
  border: none;
  margin: 1em auto;
  padding: 0;
  position: relative;
  width: 9em;
  height: 3em;
  background: none;
  font: 5em/3.21em advent pro, sans-serif;
  filter: contrast(0.5);
  transition: 0.3s;
  cursor: pointer;
}
button:focus, button:hover {
  outline: none;
  filter: none;
}
button:active {
  transform: translateY(0.25rem);
}
button:active [aria-hidden=true] {
  transform: translateY(var(--ty, 0.25rem));
}
button:active [aria-hidden=true]:nth-child(2) {
  --ty: 0.75rem;
}
button span[aria-hidden=true] {
  filter: drop-shadow(0.125rem 0.1875rem hsl(var(--hue), calc(var(--sat) - 25%), 25%)) drop-shadow(-0.1875rem -0.125rem hsl(var(--hue), calc(var(--sat) - 41%), calc(var( 										--lum 									) + 31%))) drop-shadow(1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.75));
}
button span[aria-hidden=true]:after {
  background: hsl(var(--hue), var(--sat), var(--lum));
  clip-path: polygon(100% 0, 91% 91%, 13% 100%, 0 35%);
  content: "";
}
button span[aria-hidden=true]:nth-child(2) {
  --sat: 0%;
  --lum: 83%;
}
button span[aria-hidden=true]:nth-child(2):after {
  clip-path: polygon(3% 21%, 85% 25%, 75% 93%, 14% 87%);
}
button span:last-child {
  background: radial-gradient(black, white 83%) 50% 0.125em/0.5em 50%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(2px 2px #313131);
}
button:nth-of-type(2) {
  --hue: 187;
}

@media (max-width: 800px) {
  html {
    font-size: 2vw;
  }
}
